.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
body{
    background:linear-gradient(to right bottom,darkblue,lightgreen);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.card {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(213, 59, 59, 0.1);
    padding: 15px,15px,20px;
    text-align: center;
    background: linear-gradient(to right,rgb(138, 138, 238),rgb(108, 247, 108));
}
.card_x{
     width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px,15px,20px;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    text-align: center; 
    background: linear-gradient(to right,rgb(221, 131, 131),rgb(166, 166, 250));
}
.card_y{
    height: 230px;
    margin-top:10px;
    text-align: center;
    margin-bottom: 10px;
}
.button{
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    width: 80%;
    cursor: pointer;
}
.btn_a{
    background-color: green;
    padding: 45px,80px;
    font-size: 25px;
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
}
.btn_b{
    background-color: blue;
    padding: 45px,80px;
    font-size: 25px;
    margin-top: 50px;
    width: 80%;
    border-radius: 10px;
}
.btn_c{
    background-color: purple;
    padding: 45px,80px;
    font-size: 25px;
    margin-top: 10px;
    width: 70%;
    border-radius: 10px;
}.buttons{
    color: rgb(236, 180, 180);
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    width: 80%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn_d{
    color: whitesmoke;
    margin-bottom: 10px;
    background-color:blueviolet;
    border-radius: 10px;
    padding: 20px,30px;
     font-size: 20px; 
}
.btn_e{
    font-size: 20px;
    border-radius: 10px;
    background-color:none;

}
img{
    width: 70px;
    height: 80px;
    margin-bottom: 30px;
}
.header-section{
    text-align: center;
    margin-bottom: 40px;
    color:whitesmoke;
    font-size: 20px;
}
.header-section2{
    color: blueviolet;
    margin-top: -10px;
    font-size: 40px;
}
.subtitle{
    text-align: center;
    margin-bottom: 40px;
    color:whitesmoke;
    font-size: 20px;
}