body {
    font-family: sans-serif;
    background: #f7f9fb;
    padding: 0;
    margin: 0;
    color: #111;
}

.choose-container {
    background: linear-gradient(to right, green, blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.choose-container h1,
.choose-container p {
    margin: 0;
    padding: 0;
    font-size: 23px;
}

.choose-container h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.choose-container h1 span {
    color: yellow;
}

.row {
    display: flex;
    gap: 12px;
    margin: 20px;
}

.search,
.btn,
.select {
    display: flex;
    align-items: center;
    height: 44px;
    background: #fff;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    padding: 0 14px;
    cursor: pointer;
}

.search {
    width: 500px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 20px;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

select {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
}

.green {
    border-color: #16a34a !important;
}

svg {
    width: 18px;
    height: 18px;
    stroke: #666;
    fill: none;
}

.complete-courses {
    margin: 20px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.course-contain {
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.remaining-contain {
    padding: 20px;
}

.course-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h3 {
    margin: 0 0 10px 0;
}

.title {
    font-size: 13px;
    margin-bottom: 10px;
}

.duration {
    font-size: 13px;
    margin-bottom: 10px;
}

.intermediate {
    font-size: 10px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.what-you {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.descr {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.payment-installment {
    display: flex;
    flex-direction: column;
}

.discount {
    color: rgb(70, 155, 70);
    font-weight: bold;
    font-size: 25px;
}

.normal-price {
    text-decoration: line-through;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.payment-button {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.install-payment {
    font-size: 12px;
    color: rgb(73, 73, 73);
    margin-top: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
}

.view {
    font-size: 12px;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 6px;
    padding: 7px 10px;
    margin-bottom: 7px;
    cursor: pointer;
}

.apply {
    font-size: 12px;
    background-color: rgb(22, 163, 74);
    border-radius: 6px;
    margin-bottom: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.view:hover {
    background-color: #ebecee;
}

.apply:hover {
    background-color: rgb(43, 112, 43);
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .search {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}