
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-learning {
  font-size: 14px;
  background-color: rgb(221, 243, 250);
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  color: darkblue;
  margin-top: 10px;
  font-weight: bold;
}

.first-h1 {
  margin: 0;
  font-size: 50px;
  line-height: 45px;
}

.state {
  margin-top: 25px;
}

.learning {
  color: rgb(89, 16, 207);
}

.experience {
  font-size: 24px;
  color: rgb(80, 80, 80);
  margin-top: 30px;
}

.first-div {
  width: 900px;
  height: 550px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  margin-top: 30px;
}

.first-div img {
  width: 100%;
  position: relative;
  top: -150px;
  border-radius: 20px;
}

.state-of {
  position: absolute;
  bottom: 50px;
  color: white;
  text-align: left;
  margin-left: 30px;
}

.state-of h1 {
  margin: 0;
  font-size: 35px;
  margin-bottom: 10px;
}

.state-of p {
  font-size: 20px;
  margin: 0;
}

.success {
  background-color: rgb(224, 224, 224);
  padding: 10px 25px;
  font-weight: bold;
  color: purple;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.second-h1 {
  margin: 0;
  font-size: 55px;
  line-height: 45px;
}

.industry {
  color: rgb(179, 2, 179);
}

.last-div {
  display: flex;
  gap: 10px;
}

.left-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left-div img {
  width: 450px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.left-div p {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0 0 20px;
}

.left-div p:nth-child(2) {
  font-size: 20px;
}

.left-div p:nth-child(3) {
  color: rgb(146, 75, 212);
}

.end-div button {
  background-color: transparent;
  border: 1px solid purple;
  color: purple;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.end-div button:active {
  background-color: rgb(255, 214, 220);
}