.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

/* header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}
img{
    width: 30px;
    height: 30px;
    margin-right: 3px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
    color: rgb(45, 46, 45);
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: rgb(45, 46, 45);
  font-weight: none;
  transition: color 0.3s;
  text-align: center;
  margin-right: 10px;
  font-size: 1.1rem;
  
}

.buttons {
  margin-left: 25%;
  display: flex;
  gap: 10px;
}

.but{
  padding: 5px 10px;
  width: 100px;
  color: green;
  border: none;
  background-color: transparent;
  border: 1px solid green;
}

.apply {
  padding: 5px 10px;
  background-color: green;
  color: white;
}
button.apply:hover {
  background-color: darkgreen;
}
.but:hover {
  background-color: rgba(207, 238, 207, 0.356);
}
nav ul li a:hover {
  color: rgb(6, 184, 6);
} */